<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
{% comment %}
https://blog.csdn.net/xyp84/article/details/7945094
{% endcomment %}
{{hero.show_name}}
<br>
============================================================
<ul>
{% for hero in hero_list %}
    {% if forloop.counter|divisibleby:"2" %} {#使用过滤器#}
        <li style="background-color: crimson; width: 70px">{{forloop.counter}}:{{hero.show_name}}</li>
    {% else %}
        <li style="color: blue">{{forloop.counter}}:{{hero.show_name}}</li>
    {% endif %}
{% empty %}
    <li>啥也没找到</li>
{% endfor %}
</ul>
<br>
=====================反向解析=========================
<br>
<a href="/1">显示（正常解析）(因为这个时候是写的绝对路径，当url.py中的url解析改变时，这个链接就失效了)</a>
<br>
{% comment %}
{% url 'booktest:show' %} 解析成--> booktest/(\d+)
{% endcomment %}
<a href="{% url 'booktest:show_reverse' '123' '777'%}">显示（反向解析）(反向解析解决了因为写成绝对路径，而后面因为url改变匹配不到路径的问题)</a> {#'123'为传递进去的参数#}

</body>
</html>