<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>area</title>
    <script src="static/booktest/jquery-1.12.4.min.js">

    </script>
</head>
<body>
<select name="请选择省" id="pro">
    <option value="" selected="selected">
        请选择省
    </option>
</select>

<select name="请选择市" id="city">
    <option value="" selected="selected">
        请选择市
    </option>
</select>

<select name="请选择区" id="dis">
    <option value="" selected="selected">
        请选择区
    </option>
</select>
</body>
</html>